
    {% extends 'core/base.html' %}

    {% block title %}{% endblock %}

    {% block styles %} {% endblock %} 
    


    <!-- Navegación -->
    {% block cabecera %}{% endblock %}

    <!-- Cabecera -->
    {% block background %}{%load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}
    {% block headers %}
    <h1>Álvaro García</h1>
    <span class="subheading">Ingeniero Software</span>
    {% endblock %}

  	<!-- Pié de página -->
    {% block footer %}{% endblock %}
    
    <!-- JS -->
    {% block Javascripts %}{% endblock %}

